<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
<!--
<li>
  <a href="https://slack.com" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <i class="fab fa-slack" aria-hidden="true"></i> Slack Workspace
  </a>
</li>
<li>
    <i class="fas fa-building" aria-hidden="true"></i>  Office: Stud. Commons 3108
</li>
-->
